---
layout: layouts/base.njk
title: Stars & Stripes
description: American flag wood art, hand-cut and finished with a rustic, weathered touch.
image: /assets/images/gallery-collection-stars-stripes.jpg
---
{% from "partials/collection-detail.njk" import collectionDetail with context %}
{{ collectionDetail("stars-and-stripes") }}
